.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#flex-container{
  display: flex;
  flex-wrap: wrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #227213af;;
}

.menu-grid {
  display: grid;
  gap: 0rem;

}
@media (min-width: 40em){
  .menu-grid{
    grid-template-columns: repeat(2, 1fr);
    aspect-ratio: 1/1;
    flex-grow: 1;
  }
}
.item{
  margin: 0px auto;
  background-color: chartreuse;
  border: 3px solid violet;
}
.menu-description{
  text-align: center;
}
.menu-image{
  display: block;
  margin: 0px auto;
  aspect-ratio: 1/1;
  flex-grow: 1;
  border: 10px #282c34;
  border-style: ridge;
}
.btn{
  background: yellow;
  border-radius: 5px;
  color: blue;
  font-weight: bolder;
  font-size: 50px;
  cursor: pointer;
  width: 70px;
}


